*.boltdata
*.csproj.user
*.db
*.dbmdl
*.JustCode
*.nupkg
*.pdb
*.rdl.data
*.rptproj.user
*.rsuser
*.suo
*.tdf
*.VisualState.xml

.nuget
.vs

_ReSharper*

bin
Build/Packages
Library/Analysis
Library/Packages
Library/References
NDependOut
obj
RadUploadTemp
StyleCop.Cache
/WebSites/build/Octo.exe
/WebSites/build/Octo.exe.config
